
fonts/Yekan.eot
fonts/Yekan.otf
fonts/Yekan.ttf
fonts/Yekan.vfc
fonts/Yekan.woff
fonts/Yekan.woff2
images/backpack.png
images/headphone.png
images/iphone.png
images/laptop.png
images/mug.png
images/shoes.png
*.png
